In [80]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [81]:
c=pd.read_csv(r"C:\Users\hp\calories.csv")
e=pd.read_csv(r"C:\Users\hp\exercise.csv")

In [82]:
c.head(3)

    User_ID  Calories
0  14733363     231.0
1  14861698      66.0
2  11179863      26.0

In [83]:
e.head(2)

    User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  14733363    male   68   190.0    94.0      29.0       105.0       40.8
1  14861698  female   20   166.0    60.0      14.0        94.0       40.3

In [84]:
df=e.merge(c,on='User_ID')
df.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0

In [85]:
#sns.countplot(df['Gender'])

In [86]:
df['Gender'].value_counts()

female    7553
male      7447
Name: Gender, dtype: int64

In [87]:
#plt.hist(df['Age'],bins=20)

In [88]:
df.shape

(15000, 9)

In [89]:
df.head(1)

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0

In [90]:
#sns.scatterplot(x=df['Duration'],y=df['Calories'])

In [91]:
df.head(1)

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0

In [92]:
#sns.barplot(df['Gender'],df['Age'])

In [93]:
#sns.boxplot(df['Gender'],df['Age'])

In [94]:
df.describe()

,User_ID,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
count,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,1.497736e+07,42.789800,174.465133,74.966867,15.530600,95.518533,40.025453,89.539533
std,2.872851e+06,16.980264,14.258114,15.035657,8.319203,9.583328,0.779230,62.456978
min,1.000116e+07,20.000000,123.000000,36.000000,1.000000,67.000000,37.100000,1.000000
25%,1.247419e+07,28.000000,164.000000,63.000000,8.000000,88.000000,39.600000,35.000000
50%,1.499728e+07,39.000000,175.000000,74.000000,16.000000,96.000000,40.200000,79.000000
75%,1.744928e+07,56.000000,185.000000,87.000000,23.000000,103.000000,40.600000,138.000000
max,1.999965e+07,79.000000,222.000000,132.000000,30.000000,128.000000,41.500000,314.000000

In [95]:
#sns.displot(df['Age'])

In [96]:
#sns.lineplot(df['Age'])

In [97]:
df['Gender']=df['Gender'].map({'male':1,'female':0})

In [98]:
df.head(3)

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,1,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,0,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,1,69,179.0,79.0,5.0,88.0,38.7,26.0

In [100]:
X=df.drop(['User_ID','Calories'],axis=1)
y=df['Calories']

In [101]:
X.shape

(15000, 7)

In [102]:
y.shape

(15000,)

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [105]:
X_train.shape

(12000, 7)

In [106]:
X_test.shape

(3000, 7)

In [109]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error

In [111]:
models={
    'lr':LinearRegression(),
    'rd':Ridge(),
    'ls':Lasso(),
    'dtr':DecisionTreeRegressor(),
    'rfr':RandomForestRegressor()
}

In [113]:
for name,mod in models.items():
    mod.fit(X_train,y_train)
    y_pred=mod.predict(X_test)
    
    print(f"{name}     MSE:{mean_squared_error(y_test,y_pred)},Score:{r2_score(y_test,y_pred)}")

lr     MSE:131.99574575081692,Score:0.9672937151257295
rd     MSE:131.99625903139352,Score:0.9672935879435944
ls     MSE:143.82689461175065,Score:0.9643621590908397
dtr     MSE:27.900666666666666,Score:0.993086692703682
rfr     MSE:6.955275000000001,Score:0.998276601990201

In [114]:
rfr=RandomForestRegressor()
rfr.fit(X_train,y_train)
y_pred=rfr.predict(X_test)

In [1]:
dtr=DecisionTreeRegressor()
dtr.fit(X_train,y_train)
y_pred=rfr.predict(X_test)

In [3]:
import pickle
pickle.dump(rfr,open('rfr.pkl','wb'))

NameError: name 'rfr' is not defined

In [ ]:
X_train.to_csv('X_train.csv')